@import url(https://fonts.google.com/specimen/Open+Sans);
@import url(https://fonts.google.com/specimen/Poppins);
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    border-color: hsl(300, 69%, 71%);
}
.logo .fab:hover {
    border-color: hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}
body {
  height: 800px;
  width: 1440px; 
  background: url(bg-desktop.svg) repeat hsl(257,40%,49%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    font-family: 'Poppins';
}
.Huddle {
    margin-left: 70px;
    margin-top: 40px;
    width: 45%;
}
.image-area {
    margin-top: 70px;
}

.text-area {
    width: 65%;
    margin-top: 200px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: white;
}
.textBody {
    font-size: 14px;
    color: lightgray;
    font-weight: 400;
}
button {
    width: 135px;
    border: 1px solid;
    border-radius: 40px;
    height: 37px;
    background-color: white;
    box-shadow: 0px 1px 17px -1px black;
    color: hsl(257, 40%, 49%);
    font-size: 15px;
}

.logo .fab{
    display: flex;
    float: right;
    margin-top: 270px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    align-items: center;
    justify-content: center;
    color: white;
}
.logo {
    display: flex;
    justify-content: flex-end;
}
.hover-1 {
    margin-right: 20px;
}
.hover-2 {
    margin-right: 20px;
}
@media only screen and (max-width: 375px) {
 body {
     background-image: url(bg-mobile.svg);
     max-width: 375px !important;
     display: flex !important;
     flex-direction: column !important;
     max-height: 667px !important;
 }
 .container {
     display: flex !important;
     flex-direction: column !important;
     max-width: 100% !important;
     overflow: visible;
}
.huddleLogo { 
    height: 20pt;
    width: 200px;
    margin-left: -90px;
    margin-top: -30px;
}
.img-1 {
    max-width: 300px;
    justify-content: center;
    margin-left: -40px;
    margin-top: -50px;
}
.textBody {
    font-size: 13px;
    color: lightgray;
    font-weight: 400;
    display: flex;
}
h1 {
    font-size: 24px;
    overflow:visible;
    color: white;
    margin-top: -2px;
}
.t-1 {
  margin-top: -180px; 
}

.logo {
   margin-top: -235px;
   margin-left: -20px;
   display: flex;
   justify-content: center;
   margin-left: 8px;

}
.text-area {
    margin-left: 60px;
    text-align: center;
}
}
